/* Add custom css here */
.splash {
  display: none;
}
[ng-cloak].splash {
  background-color: #428bca;
  width: 100%;
  text-align: center;
  color: white;
  display: block !important;
}
.facebook-card .card-header {
display: block;
padding: 10px;
background:  #fafafa;
}
.facebook-card .facebook-avatar {
float: left;
}
.facebook-card .facebook-name {    
font-size: 17px;
font-weight: 600;
}
.card-header>a{    
color: #000;
}
#home a{
color: #000;
text-align: center;
}
.facebook-card .facebook-date {
font-size: 13px;
color: #8e8e93;
}
.facebook-card .card-footer {
background: #fafafa;
}
.facebook-card .card-footer a {
color: #81848b;
font-weight: 500;
}
.facebook-card .card-content img {
display: block;
}
.facebook-card .card-content-inner {
padding: 15px 10px;
}  
.facebook-card .card-header-img {
height: 120vw;
background-size: cover;
background-position: center;
}
.filtre{
	margin-top:0;
	margin-bottom:10px;
}
.bg-red {
    background-color: #ff3b30;
}
.bg-green {
    background-color: #4cd964;
}
.toolbar-inner > i{
	color: #000;
}

a.link.active {
	color: black;
}
.page-content{
	background: #eee;
}
.page-content>.card {
    margin-bottom: 15px;
}
.navbar-fixed .page>.searchbar~.page-content, .navbar-fixed>.searchbar~.page-content, .navbar-through .page>.searchbar~.page-content, .navbar-through>.searchbar~.page-content {
    padding-top: 60px;
}
.content-block-inner {
	background: #fff;
}
.navbar-inner, .toolbar-inner, .searchbar {
 background: url('../img/texture.png');
}
.icon-invisible {
	height:26px;
	left: -8px;
}
.fa-flip-vertical{
	top: -2px;
}
.align-right{
	text-align:right;
	color: #8e8e93;
}