<!DOCTYPE html>
<html ng-app="Movies">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <title>Paris Metal</title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="css/framework7.material.min.css">
    <link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/font-awesome.min.css" />

    <!-- Scripts -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/service/InitService.js"></script>
    <script type="text/javascript" src="js/service/DataService.js"></script>
    <script type="text/javascript" src="js/controller/HomeController.js"></script>
    <script type="text/javascript" src="js/controller/IndexPageController.js"></script>
    <script type="text/javascript" src="js/controller/DetailPageController.js"></script>
    <script type="text/javascript" src="js/controller/DepartementController.js"></script>
    <script type="text/javascript" src="js/controller/TabController.js"></script>
    <script type="text/javascript" src="cordova.js"></script>	
	
  </head>
  
  <body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="views">
	
      <div class="view view-main">
		
	   <!-- BARRE FOOTER BOUTONS FILTRE -->
       <div class="toolbar toolbar-bottom" ng-controller="TabController" id="TabController" ng-show="preload2 === 1 && homevar === 1">
			<div class="toolbar-inner">
				<a href="#" ng-click="buttonFav = !buttonFav; buttonNew = 0;  ShowFav();"  ng-class="{active : buttonFav}" class="link">
					<i class="icon fa fa-star-o fa-2x fa-flip-vertical"></i><i class="icon icon-invisible ">
						<span class="badge bg-green" ng-hide="CountFav == 0 || CountFav == null">{{CountFav}}</span>
					</i>
				</a>
				<a href="#" class="link" ng-click="buttonSearch = !buttonSearch; ShowSearch();" ng-class="{active : buttonSearch}">
					<i class="icon fa fa-search fa-2x"></i>
				</a>
				<a href="#" class="link" ng-click="buttonNew = !buttonNew; buttonFav = 0; ShowNew();" ng-class="{active : buttonNew}">
					<i class="icon fa fa-volume-up fa-2x">
						<span class="badge bg-red" ng-hide="CountNew == 0 || CountNew == null">{{CountNew}}</span>
					</i>
				</a>
				<a href="#Departement" class="link">
					<i class="icon fa fa-sliders fa-2x"></i>
				</a>				
			</div>
		</div> <!-- FIN BARRE FOOTER BOUTONS FILTRE -->
		
        
        <!-- Pages -->
        <div class="pages navbar-fixed">	


		<!-- Page Liste Event HOME -->
          <div data-page="Home" class="page no-toolbar" ng-controller="HomeController" >	
		  
		     <!-- Navbar -->
			 <div class="navbar">
				  <div class="navbar-inner">					
					<div class="center">Accueil</div>
				  </div>				  
			  </div> 		
			  
			  <!-- Page content-->
            <div class="page-content" id="home">	 
			 
				<div class="row">					
					 <div class="col-50">
					 <a href='#' ng-click='Home()'>
						<div class="content-block inset">
							<div class="content-block-inner">
								<i class="icon fa fa-bars fa-4x"></i><br/>					 
								Liste des concerts
								<br/>
							</div>
						</div>
						</a>
					</div>
					 <div class="col-50">
					 	<a href='#Departement'>
						<div class="content-block inset">
							<div class="content-block-inner">
								<i class="icon fa fa-sliders fa-4x"></i><br/>Filtre par département
							</div>
						</div>
						</a>
					</div>				
				</div>
				
				<div class="row">					
					 <div class="col-50">
					 <a href='#' ng-click='HomeFav()'>
						<div class="content-block inset">
							<div class="content-block-inner">
								<i class="icon fa fa-star-o fa-4x fa-flip-vertical"></i><br/>					 
								Favoris
								<br/>
							</div>
						</div>
						</a>
					</div>
					 <div class="col-50">
					 	<a href='#' ng-click='HomeNew()'>
						<div class="content-block inset">
							<div class="content-block-inner">
								<i class="icon fa fa-volume-up fa-4x"></i><br/>Nouveautés
							</div>
						</div>
						</a>
					</div>				
				</div>
			 
			</div>
			
		</div>
			  
		  	
          <!-- Page Liste Event HOME -->
          <div data-page="index" class="page cached" ng-controller="IndexPageController"  id="IndexPage">	
		  
		     <!-- Navbar -->
			 <div class="navbar">
				  <div class="navbar-inner">					
					<div class="center">{{TITRE}} {{InfoDep}}</div>
				  </div>				  
			  </div> 
			  
			  <!-- Search Bar -->
			  <form class="searchbar" ng-show="showSearch == '1'">
				<div class="searchbar-input">
					<input type="search" placeholder="Search" ng-model="search" ng-model-options="{debounce: 450}">
					<a href="#" class="searchbar-clear"></a>
				</div>
				<a href="#" class="searchbar-cancel">Cancel</a>
			 </form>
			 
			 <!-- Search Bar overlay-->
			<div class="searchbar-overlay"></div>
			 
            <!-- Page content-->
            <div class="page-content">	
					<!-- Pas de nouveau concert-->
					<div ng-show="LocalDepartement === null">
						<div class="content-block inset">
						  <div class="content-block-inner">
							<p>Filtrez les concerts par département en cliquant sur l'icone <i class="icon fa fa-sliders"></i></p>
						  </div>
						</div>						
					</div>
				
					<!-- REPEAT LIST EVENT -->
					<div class="card facebook-card"  ng-repeat="concert in filteritem = (concerts | custom2:LocalDepartement | custom:search)" ng-hide="concert.groupe_1 == null || (!IsFav(concert.url) && filtreFav == '1') || (!IsNew(concert.url) && filtreNew == '1')" >
						
					 	<div class="card-header">
							<a href="#detailsPage" ng-click="onItemClicked(concert)">
							<div class="row no-gutter">							
								<div class="col-90">
									<div class="facebook-name">{{concert.groupe_1}}
										<span ng-show="IsNew(concert.url)">
											<span class="badge bg-red">Nouveau</span>
										</span>
									</div>
									<div class="facebook-date">
										{{concert.date}} 
									</div>
								</div>
								<div class="col-10 align-right">
									<span ng-click="$event.preventDefault(); $event.stopPropagation();AddFav(concert.url)" ng-show="!IsFav(concert.url)">
										<i class="fa fa-star-o fa-lg fa-flip-vertical" eat-click></i>
									</span>							
									<span ng-click="$event.preventDefault(); $event.stopPropagation(); DeleteFav(concert.url)" ng-show="IsFav(concert.url)">
									<i class="fa fa-star fa-lg fa-flip-vertical" style="color: red;"></i>
									</span>
								</div>
							</div>	
							</a>
						</div>						 
					
						<div class="card-content" >
							<div class="card-content-inner" ng-hide="concert.groupe_2 == null" >
							  <p ng-hide="concert.groupe_2 == null">- {{concert.groupe_2}}</p>						 
							  <p ng-hide="concert.groupe_3 == null">- {{concert.groupe_3}}</p>						 
							  <p ng-hide="concert.groupe_4 == null">- {{concert.groupe_4}}</p>							   	
							</div>																	 
						</div>		
						
					</div>	
					
					<!-- Recherche nulle -->
					<div ng-show="SearchNull === 1 && showSearch === '1'" id='searchnull' class="content-block" style='margin-bottom:60px;'>
						<div class="content-block inset">
						  <div class="content-block-inner">
							<p>Aucun concert ne correspond à votre recherche.</p>
						  </div>
						</div>						
					</div>
					
					<!-- Dep Nul  --> 
					<div ng-show="SearchNull === 1 && DepNull === 0 && showSearch != '1' && filtreFav != '1'" id='searchnull' class="content-block" style='margin-bottom:60px;'>
						<div class="content-block inset">
						  <div class="content-block-inner">
							<p>Aucun concert n'est répertorié dans le département {{LocalDepartement}} actuellement.</p>
						  </div>
						</div>						
					</div>
					
					<!-- Dep Nul -->
					<div ng-show="DepNull === 1 && filtreFav != '1' && showSearch != '1'" id='searchnull' class="content-block" style='margin-bottom:60px;'>
						<div class="content-block inset">
						  <div class="content-block-inner">
							<p>Aucun concert n'est répertorié dans le département {{LocalDepartement}} actuellement.</p>
						  </div>
						</div>						
					</div>
										
					
					
					<!-- Button Erase New-->
					<div ng-show="filtreNew == '1' && NewInLocal()"  class="content-block" style='margin-bottom:60px;'>
						<p>J'ai pris connaissance des nouveaux concerts:</p>
						<span ng-click="DeleteNew()" class="button button-fill button-raised">Ok</span>	
					</div>
					
					<!-- Pas de nouveau concert-->
					<div ng-show="!NewInLocal() && filtreNew == '1'"  class="content-block" style='margin-bottom:60px;'>
						<div class="content-block inset">
						  <div class="content-block-inner">
							<p>Il n'y a pas de nouveau concert depuis votre dernière visite.</p>
						  </div>
						</div>						
					</div>
					
					<!-- Pas de concert en Favoris -->
					<div ng-show="!FavInLocal() && filtreFav == '1' && showSearch != '1'"  class="content-block" style='margin-bottom:60px;'>
						<div class="content-block inset">
						  <div class="content-block-inner">
							<p>Vous avez ajouté aucun concert dans vos favoris.</p>
						  </div>
						</div>							
					</div>
					
					<!-- Margin BOTTOM-->
					<div class="content-block" style='margin-bottom:60px;'>
						<p></p>
					</div>
					
						
            </div>
          </div> <!-- FIN Page Liste Event HOME -->
		  
		  
          <!-- Page Detail Concert -->
          <div data-page="detailsPage" class="page cached" ng-controller="DetailPageController">
		  
		   <!-- Navbar -->
			 <div class="navbar">
				  <div class="navbar-inner">
					<div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
					<div class="center">Détail Concert</div>
				  </div>
			  </div>
			  
            <!-- Page content 2-->
            <div class="page-content" ng-model="concert">
					 
					<div class="card facebook-card" >
						<div ng-repeat="img in image" ng-show="img.url==concert.url" >						
							<div style="background-image:url({{img.image.href}})" valign="bottom" class="card-header color-white no-border card-header-img" ng-hide="img.image.href == null">
						</div>
					  </div>
						<div class="card-header">						
							<div class="row no-gutter">							
								<div class="col-90">
									<div class="facebook-name">{{concert.groupe_1}}
										<span ng-show="IsNew(concert.url)">
											<span class="badge bg-red">Nouveau</span>
										</span>
									</div>
									<div class="facebook-date">
										{{concert.date}} 
									</div>
								</div>
								<div class="col-10 align-right">
									<span ng-click="$event.preventDefault(); $event.stopPropagation();AddFav(concert.url)" ng-show="!IsFav(concert.url)">
										<i class="fa fa-star-o fa-lg fa-flip-vertical" eat-click></i>
									</span>							
									<span ng-click="$event.preventDefault(); $event.stopPropagation(); DeleteFav(concert.url)" ng-show="IsFav(concert.url)">
									<i class="fa fa-star fa-lg fa-flip-vertical" style="color: red;"></i>
									</span>
								</div>
							</div>	
						</div>

						
						<div class="card-content">
							<div class="card-content-inner" ng-hide="concert.groupe_2 == null" >
							 <p ng-hide="concert.groupe_2 == null">- <b>{{concert.groupe_2}}</b></p>						  
							 <p ng-hide="concert.groupe_3 == null">- <b>{{concert.groupe_3}}</b></p>						 
							 <p ng-hide="concert.groupe_4 == null">- <b>{{concert.groupe_4}}</b></p>
							  <p><u>Ville</u>: {{concert.ville}} ({{concert.departement}})</p>
							  <p><u>Salle</u>: {{concert.salle}}</p>
							  <p><u>Heure</u>: {{concert.heure}}</p>
							  <p><u>Prix</u>: {{concert.prix}}</p>		 		
							</div>
							<div class="card-content-inner" ng-hide="concert.groupe_2 != null">
							  <p><u>Ville</u>: {{concert.ville}} ({{concert.departement}})</p>
							  <p><u>Salle</u>: {{concert.salle}}</p>
							  <p><u>Heure</u>: {{concert.heure}}</p>
							  <p><u>Prix</u>: {{concert.prix}}</p>		
							</div>							
						</div>						
						
					</div> 
						
					<!-- Margin BOTTOM-->
					<div class="content-block" style='margin-bottom:60px;'>
						<p></p>
					</div>	
					
            </div>
			
          </div>  <!-- Fin Page Detail concert -->
		  
		  <!-- Page Departement -->
          <div data-page="Departement" class="page cached" ng-controller="DepartementController">
		  
		   <!-- Navbar -->
			 <div class="navbar">
				  <div class="navbar-inner">
					<div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
					<div class="center">Paramétrage Département</div>
				  </div>
			  </div>
			  
            <!-- Page Departement content-->
            <div class="page-content" ng-model="concert">
				
				<div class="list-block">
				  <ul>
					<li><a href="#" class="item-link smart-select" data-back-on-select="true">
						<select name="theselect" id="theselect"  maxlength="1" >
						  <optgroup label="Choississez votre département:">
							<option value='' ng-selected="{{selectDep == null}}">Aucun</option>
							<option ng-repeat="dep in departements" value="{{dep.value}}" ng-selected="{{ dep.value == selectDep }}">{{dep.value}} {{dep.nom}}</option>
						  </optgroup>
						</select>
						<div class="item-content">
						  <div class="item-inner">
							<div class="item-title">Département sélectionné</div>
						  </div>
						</div></a></li>
				  </ul>
				</div>
				
			</div>   <!-- Fin Page Departement content-->
		</div><!-- Fin Page Departement -->
		  
		  
		  
		  
					
		  
		  
        </div>	 <!-- Fin PAGES -->	
		
		
      </div> <!-- Fin View -->
    </div> <!-- Fin Views -->
	
  </body>
  
</html>